
.btn-yellow {
    min-width: 117px;
    background-color: #FFB74F;
    color: #FFFFFF;    
    border: 0;
}

.btn-white {
    width: 88px;
    border: 2px solid #FFB74F;
    color: #FFB74F;
    background-color: #FFFFFF;
}

.btn {
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;        
}
